<div class="jumbotron">
  <h1 class="display-4"><%=t('welcome_page.welcome')%></h1>
  <p class="lead"><%=t('welcome_page.description')%></p>
  <hr class="my-4">
  <p><%=t('welcome_page.menu_description')%>:</p>
  
  <%= render 'menu' %>
</div>